# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/

# Environments
.venv/
env/
venv/
ENV/

# Output Reports
reports/

# IDEs & System
.idea/
.vscode/
.DS_Store
